/* Reset de los elementos de la página*/
* { 
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article, aside, footer, header, menu, nav, section {
  display: block; }

ol, ul {   
  list-style: none; }

html, body {
    height: 100%;
}

/* Fuente base para todo la web */
body {
    font-family: "Lucida Grande", Helvetica, Arial, Verdana, sans-serif;
    font-size: 12px;
    color: #B9B8B5;
    background-color: #181815;
}

/* Contenedor principal de todos los elementos y definción del background de la web*/
#container {
    height: 100%;
    margin-bottom: -60px;
    background: #181815 url(../Images/background.png) repeat;
    position: relative;
}


/* Enlaces */
a:link,
a:visited {
    text-decoration: none;
    color: #33CC99;
    -webkit-transition: color .2s ease;
    transition: color .2s ease;
}
  
a:hover {
    color: #777674; 
}

/* Para los títulos de los parrafos */
h2 {
    font-size: 3em;
    margin-bottom: 20px;
    color: #F8F3E5;
    line-height: 1.5em;
}

/* Estilo para parrafos*/
p {
    margin-bottom: 2%;
    font-size: 2em;
    line-height: 1.6em; 
}

/* Cabecera*/
#wrap-header {
    height: 60px;
    background-color: #000;
}
  
#header {
    width: 940px;
    margin: 0 auto;
    padding: 0 10px;
    overflow: hidden;
    background-color: #000;
}

/* Logo */
#logo {
    float: left;
    width: 220px;
}

/* Para el texto del logo y el enlace que se funda con el fondo*/
#logo h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
    position: relative;
    color: #000;
}
#logo a {
    display: block;
    width: 220px;
    height: 60px;
    overflow: hidden;
    position: relative;
    text-decoration: none;
    color: #000;
}

/* Mitad de la imagen sobre el h1 como logo */
#logo span {
    background-image: url(../Images/menu/j2-games-logo.png);
    background-position: left top;
    background-repeat: no-repeat;
    cursor: pointer;
    display: block;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%; 
}

#logo a:hover {
    visibility: visible;
/* --- IE6 bugfix --- */ }

/* Para el efecto utiliza la otra mitad de la imagen */
#logo a:hover span {
    background-position: -340px top; 
}

/* Social */
.social {
    float: left;
    width: 105px;
    margin: 5px 0;
}

.social li {
    display: block;
    float: left;
    width: 35px;
    height: 50px;
}

/* Para que cargue la imagen sobre el texto de las redes sociales 
por defecto se ve el primer bloque que es de facebook */
.social li a {
    display: block;
    width: 35px;
    height: 50px;
    background: url(../Images/menu/fb-g-tw.png) left top no-repeat;
    text-indent: -9999px;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=45)";
    filter: alpha(opacity=45);
    opacity: .45;
    -webkit-transition: all 200ms;
    transition: all 200ms;
}

/* Usa el segundo bloque que es el logo de google+ */
.social li a.google {
    background-position: -35px 0; 
}

/* Usa el tecer bloque que es el logo de twitter*/
.social li a.twitter {
    background-position: -70px 0;
}

/* Aplica todo la opacidad con el hover del enlace */
.social li a:hover {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
    opacity: 1;
}

/* Menu */
.mainmenu {
    width: 547px;
    float: right;
    margin: 5px 0;
}

.mainmenu li {
    float: left;
    list-style-type: none;
    position: relative;
}

/* Modifica el enlace para que desaparezca de la imagen */
.mainmenu a {
    color: #666;
    float: left;
    height: 50px;
    overflow: hidden;
    position: relative;
    text-align: center;
    text-decoration: none;
    text-indent: -9999px; 
}

/* Para que se posiciones en la mitad superior de la imagen de menu */
.mainmenu span {
    background-position: left top;
    background-repeat: no-repeat;
    cursor: pointer;
    display: block;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    /* Animate Menu */
    -webkit-transition: background .3s ease;
    transition: background .3s ease; 
}

/* Para que el enlace activo use la mitad inferior de la imagen */
.mainmenu .active span {
    background-position: left bottom; 
}

.mainmenu a:hover {
    visibility: visible;
/* --- IE6 bugfix --- */ }

/* Cuando se activa el hover se cambia a la mitad inferior de la imagen y
se activa la animación del menú definida antes */
.mainmenu a:hover span {
    background-position: left bottom; 
}

/* Menu each button 
Para cada uno de los botones se define el ancho de la imagen en el enlace y
la imagen correspondiente como fondo del span, cada una tiene
100px de alto para que se parta por la mitad para el efecto */
.menu01 {
    width: 78px; 
}

.menu01 span {
    background-image: url(../Images/menu/home.png); 
}

.menu02 {
    width: 81px; 
}

.menu02 span {
    background-image: url(../Images/menu/about.png); 
}

.menu03 {
    width: 85px; 
}

.menu03 span {
    background-image: url(../Images/menu/games.png); 
}

.menu04 {
    width: 72px; 
}

.menu04 span {
    background-image: url(../Images/menu/store.png); 
}

.menu05 {
    width: 94px; 
}

.menu05 span {
    background-image: url(../Images/menu/contact.png); 
}

.menu06 {
    width: 108px; 
}

.menu06 span {
    background-image: url(../Images/menu/objetives.png); 
}

/* Clase para agregar saltos sin nada alrededor*/
.cleaner {
    font-size: 0;
    line-height: 0;
    height: 0;
    clear: both; 
}

/* Para que se posicione abajo del todo */
#wrap-footer {
    height: 60px;
    width: 100%;
    clear: both;
    background-color: #272727;
    position: absolute;
    bottom: 0%;
    right: 0%;
}

#footer {
    margin: 0 auto;
    padding: 20px;
    font-size: 11px;
    text-align: left;
    color: #777674;
    overflow: hidden;
}

#footer p {
    font-size: 11px;
    margin-bottom: 0px;
}

/* Para la letra del footer */
#footer .copyright span {
    color: #333;
}

/* Para los enlaces a redes sociales*/
#footer a {
    color: #777674;
    text-decoration: none;
}

#footer a:hover {
    color: #FFF;
}

#footer .design a:hover {
    color: #FFF;
}

#footer .copyright {
    float: left;
    width: 760px;
}

#footer .design {
    float: right;
    width: 100px;
    text-align: right; 
}

/* Padding por defecto para todo el contenido*/
#wrap-content {
    padding: 30px 0 0px 0;
}

#content {
    width: 90%;
    margin: 0 auto;
    padding: 0 0 60px 0; 
    display: flex;
}

/* Para las imagenes de contenido como slides */
.slide-container{
    max-width: 45%;
    height: 50%;
    overflow: hidden;
    border: 1em solid #272727;
}

.aside-panel{
    max-width: 40%;
    height: auto;
    float: right;
    padding-left: 5em;
    padding-top: 7em;
}

/* Para el texto descriptivo de juegos */
.desc {
    padding: 1em;
    text-align: center;
    font-family: "Lucida Grande", Helvetica, Arial, Verdana, sans-serif;
    font-size: 2em;
    color: #B9B8B5;
    background-color: #181815;
}

/* Para las imagenes de la galeria de juegos */
.gallery {
    margin: 5em;
    border: 1em solid #ccc;
    float: left;
    width: 30%;
}

.gallery:hover {
    border: 1em solid #777;
}

.gallery img {
    width: 100%;
    height: auto;
}

/* Listado de objetivos*/
ul.objetivos{
    list-style-type: circle;
    margin: 2%;
    padding: 2%;
    font-size: 2.5em;
}

/* Para la imagen de seccion en construccion*/
.construccion {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    margin: 10%;
}