/* Reset de los elementos de la página*/
* { 
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* Fondo para toda la página */
body{
    background: #181815 url(../Images/background.png) repeat;
    position: relative;
}

/* Para el texto del logo y el enlace que se funda con el fondo*/
.header_container .container-fluid{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
    position: relative;
    color: #000;
    background-color: #000;
}

.navbar-header a {
    display: block;
    width: 220px;
    height: 60px;
    overflow: hidden;
    position: relative;
    text-decoration: none;
    color: #000;
}

/* Mitad de la imagen sobre el texto como logo */
.navbar-header span {
    background-image: url(../Images/menu/j2-games-logo.png);
    background-position: left top;
    background-repeat: no-repeat;
    cursor: pointer;
    display: block;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%; 
}

.navbar-header a:hover {
    visibility: visible;
/* --- IE6 bugfix --- */ }

/* Para el efecto utiliza la otra mitad de la imagen */
.navbar-header a:hover span {
    background-position: -340px top; 
}

/* Para que cargue la imagen sobre el texto de las redes sociales 
por defecto se ve el primer bloque que es de facebook */
.facebook a , .twitter a {
    display: block;
    width: 35px;
    height: 50px;
    background: url(../Images/menu/fb-g-tw.png) left top no-repeat;
    text-indent: -9999px;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=45)";
    filter: alpha(opacity=45);
    opacity: .45;
    -webkit-transition: all 200ms;
    transition: all 200ms;
}

/* Usa el segundo bloque que es el logo de google+ */
.google a {
    background-position: -35px 0; 
}

/* Usa el tecer bloque que es el logo de twitter*/
.twitter a {
    background-position: -70px 0;
}

/* Aplica todo la opacidad con el hover del enlace */
.facebook a:hover , .twitter a:hover{
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
    opacity: 1;
}

/* Modifica el enlace para que desaparezca de la imagen */
.mainmenu a {
    color: #666;
    /*float: left;*/
    height: 50px;
    overflow: hidden;
    /*position: relative;*/
    text-align: center;
    text-decoration: none;
    text-indent: -9999px; 
}

/* Para que se posiciones en la mitad superior de la imagen de menu */
.mainmenu span {
    background-position: left top;
    background-repeat: no-repeat;
    cursor: pointer;
    display: block;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    /* Animate Menu */
    -webkit-transition: background .3s ease;
    transition: background .3s ease; 
}

/* Para que el enlace activo use la mitad inferior de la imagen */
.active span {
    background-position: left bottom; 
}

.mainmenu a:hover {
    visibility: visible;
/* --- IE6 bugfix --- */ }

/* Cuando se activa el hover se cambia a la mitad inferior de la imagen y
se activa la animación del menú definida antes */
.mainmenu a:hover span {
    background-position: left bottom; 
}

/* Menu each button 
Para cada uno de los botones se define el ancho de la imagen en el enlace y
la imagen correspondiente como fondo del span, cada una tiene
100px de alto para que se parta por la mitad para el efecto */
.menu01 {
    width: 78px; 
}

.menu01 span {
    background-image: url(../Images/menu/home.png); 
}

.menu02 {
    width: 81px; 
}

.menu02 span {
    background-image: url(../Images/menu/about.png); 
}

.menu03 {
    width: 85px; 
}

.menu03 span {
    background-image: url(../Images/menu/games.png); 
}

.menu04 {
    width: 72px; 
}

.menu04 span {
    background-image: url(../Images/menu/store.png); 
}

.menu05 {
    width: 94px; 
}

.menu05 span {
    background-image: url(../Images/menu/contact.png); 
}

.menu06 {
    width: 108px; 
}

.menu06 span {
    background-image: url(../Images/menu/objetives.png); 
}

/* Para que al haber poco contenido se separe del footer*/
body > .container-fluid , body > .container{
    min-height: 85vh;
}

/* Letra para las descripciones */
.game-description , .container > h2{
    font-family: "Lucida Grande", Helvetica, Arial, Verdana, sans-serif;
    color: #B9B8B5;
}

/* Para dejar el foooter fijo abajo */
footer {
    background-color: #000;
    color: white;
}

/* Para que el slide tenga un borde */
.slide-container{
    border: 1em solid #272727;
}